/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Kohinoor Bangla', sans serif; /* TODO demander au webdesigner le nom de la police souhaitée*/
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* copelican colors */
$fontain-blue: #63C2C3;
$japonica: #D87355;
$emperor: #515151;

.blue{
  color: $fontain-blue !important;
}

.orange{
  color: $japonica !important;
}

.grey{
  color: $emperor !important;
}

.white{
  color: white;
}

.md-button{
  text-transform: none !important;
}

.center{
  display: flex;
}

.shipping{
  background: $japonica;
  color: white;
  padding-left: 30px;
  padding-right: 30px;

  .icon{
    font-size: 10pt;
  }
}

.radio-group{
  text-align: center;
  align-content: center;
}

.md-action-buttons .md-button {
  background: white;
  color: $fontain-blue; /* TODO régler le probleme de couleur quand on met la souris sur le coin d'un bouton*/
  :hover{
    color: white;
  }
}

.form-button{
  background: $fontain-blue !important;
  color: white;
}

.my-radio{
  .md-off {
    border-color: white !important;
  }
  .md-on {
    background-color: white !important;
  }
}

.form-radio{
  text-align: center;
  text-align-all: center;
}

.datepicker{ /* TODO changer les couleurs du champ, de l'icone et de la date sélectionnée dans le calendrier*/
  background-color: $japonica !important;
  border-color: white !important;
  color: white;
}

.download-button{
  background: $japonica;
  border: 2px solid white;
  text-align: center;
}

.button-more {
  width: 20px;
  height: 20px;
}

.journeys{
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;
    background: #63C2C3;
    color: white;

    text-align: center !important;

    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    .material-icons{
      font-size: 18px;
    }
  }
  md-card:hover{
    box-shadow: 0 29px 46px rgba(0,0,0,0.40), 0 25px 20px rgba(0,0,0,0.22);
  }
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
